/*FONTS */
$main-font: sofia-pro-soft, sans-serif;

/* COLORS */
$primary-color: black;
$secondary-color: #FBFCFF;

body{
    background-color: $secondary-color;
    font-family: $main-font;
}

.active{
    text-decoration: underline;
}




