@media (min-width: 576px) {
    .logo{
        height: 50px;
        width: auto;
    }
}


@media (min-width: 768px) {
    .logo{
        height: 70px;
        width: auto;
    }
}


@media (min-width: 992px) {
    .logo{
        height: 100px;
        width: auto;
    }
}


@media (min-width: 1200px) {
    .logo{
        height: 100px;
        width: auto;
    }
}